@import 'bootstrap/dist/css/bootstrap.min.css';
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import './style.css';
@import "@fontsource/playfair-display/400.css";
@import "@fontsource/playfair-display/700.css";



