html, body{

  background: #000;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Playfair Display', serif;
    color: #d6d6d6;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.navbar{
    background-color: rgb(20, 20, 20)
}
.navbar-title{
    color: #d6d6d6;
}
.nav-link{
    color: #d6d6d6;;
    font-size: 20px;
    letter-spacing: 0.2em;
}

.nav-link:hover{
    color: rgb(187, 23, 23);
    text-shadow: #f5f5f0 0px 0px 10px;
}
.hero {
  position: relative;
  height: 90vh;
  background-image: url(https://img.freepik.com/foto-premium/hamburger-di-close-up-con-sfondo-nero_23-2148234990.jpg);
  background-size: cover;
  background-position: left center;
  display: flex;
  align-items: center;
  animation: fadeUp .8s ease forwards;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.85)
  );
  animation: fadeUp .8s ease forwards;
}

.hero-content {
  position: relative;
  margin-left: 55%;
}

.hero-title {
  font-size: 4rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 1rem;
  
}

.hero-subtitle {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  
}
.bg-about{
  background-image: url(https://www.shutterstock.com/image-photo/above-crop-anonymous-cook-scapula-600nw-2225276283.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 93vh;
  animation: fadeUp .8s ease forwards;
}
.about-title h1 {
  font-size: clamp(3rem, 5vw, 3.5rem);
  letter-spacing: 6px;
  font-weight: 500;
  color: #f5f5f5;
}

.about-title p {
  margin-top: 1rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

.about-subtitle .col-md-4 {
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(3px);
  padding: 3rem 2rem;
  border-radius: 12px;
  border: solid 1px #f5f5f5;
}
.menu-image{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20251102/pngtree-grilled-steak-with-prominent-char-marks-sizzling-on-barbecue-grill-grate-image_20203748.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 93vh;
}

.card-custom{
  max-width: 420px;
  border-radius: 18px;
  overflow: hidden;
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(6px);
  transition: transform .25s ease, box-shadow .25s ease;
  animation: fadeUp .8s ease forwards;
}

.burger-media{
  height:500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(255,255,255,0.08),
    rgba(0,0,0,0.65)
  );
  overflow: visible;
}

.burger-img{
  width: 85%;
  max-width: 360px;
  transition: transform .35s ease;
  will-change: transform;
}

.card-custom:hover .burger-img{
  transform: translateY(-14px) scale(1.08);
}

.card-custom:hover{
  transform: translateY(-8px);
}

.card-custom:hover .burger-media img{
  transform: translateY(-10px) scale(1.06);
}

.card-title{
    font-size: 2rem;
    letter-spacing: 0.1em;
    color: #f5f5f5;
}
.btn{
    background-color: #f5f5f5;
    color: rgb(20,20,20);
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.btn:hover{
    color: #0f0101;
    box-shadow: #d6d6d6 0px 0px 10px;
}
.price{
    font-size: 1.25rem;
    font-weight: 600;
    color: #d6d6d6;
}

.card-custom2 *{
  backface-visibility: hidden;
}
.bg-card2{
  background-image: url(https://thumbs.dreamstime.com/b/griglia-calda-vuota-del-carbone-del-barbecue-del-fuoco-della-fiamma-con-i-carboni-d-ardore-52181393.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 93vh;
  width: 100%;
}
.card-custom2{
  width: 450px;
  height: 750px;
  perspective: 1400px;
  overflow: hidden;
  border-radius: 18px;
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(6px);
  transition: transform .25s ease, box-shadow .25s ease;
  animation: fadeUp .8s ease forwards;
}


.card-inner{
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform .7s ease;
  transform-style: preserve-3d;
}

.card-custom2:hover .card-inner{
  transform: rotateY(180deg);
   box-shadow:
    0 0 0 rgba(0,0,0,0),
    0 0 40px rgba(255,170,60,.35);
}

.card-face{
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 18px;
  background: rgba(0,0,0,.45);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-front{
  z-index: 2;
}

.card-back{
  transform: rotateY(180deg);
  padding: 2rem;
  text-align: center;
}
.card-back .card-text{
  max-height: 160px;
  overflow-y: auto;
  padding-right: .5rem;
}
.card-text{
  font-size: 1.1rem;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}






